{
  "openapi": "3.0.0",
  "info": {
    "title": "API Fournisseur CG - Orchestrateur Logistique",
    "version": "3.0.0",
    "description": "API REST centrale servant de wrapper pour l'écosystème Fournisseur Congo. Orchestrateur entre applications clientes (web Vue.js, mobile) et services backend (Appwrite, MailerSend, SMTP, Spark Pay).",
    "contact": {
      "name": "Équipe Technique Fournisseur CG",
      "email": "dev@fournisseur.cg",
      "url": "https://fournisseur.cg"
    },
    "license": {
      "name": "Propriétaire - Fournisseur CG",
      "url": "https://fournisseur.cg/license"
    },
    "termsOfService": "https://fournisseur.cg/terms"
  },
  "servers": [
    {
      "url": "https://api.fournisseur.cg",
      "description": "Production - API officielle"
    },
    {
      "url": "https://staging.api.fournisseur.cg",
      "description": "Staging - Tests et validation"
    },
    {
      "url": "http://localhost:3333",
      "description": "Développement local"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyAuth": []
    },
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentification utilisateurs et gestion des tokens JWT"
    },
    {
      "name": "Database Management",
      "description": "Wrapper pour les opérations Appwrite (collections, documents, utilisateurs)"
    },
    {
      "name": "Collection Management",
      "description": "Gestion des collections et initialisation des structures de données"
    },
    {
      "name": "Payment Processing",
      "description": "Intégration Spaark Pay - Paiements mobiles (MTN Money, Airtel Money)"
    },
    {
      "name": "SMS Notifications",
      "description": "Envoi de SMS et notifications via API SMS"
    },
    {
      "name": "Email Services",
      "description": "MailerSend (marketing) et SMTP (notifications système)"
    },
    {
      "name": "User Management",
      "description": "Gestion des utilisateurs (visiteurs, clients, professionnels, admins)"
    },
    {
      "name": "Webhooks",
      "description": "Endpoints pour webhooks entrants (Spark Pay, partenaires transport)"
    },
    {
      "name": "Analytics",
      "description": "Métriques, rapports et données analytiques de la plateforme"
    }
  ],
  "paths": {},
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtenu depuis /v3/auth/login"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Clé API pour l'authentification service-à-service"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Authentification basique pour les endpoints admin"
      }
    }
  }
}