openapi: 3.0.0
info:
  title: API Fournisseur CG - Orchestrateur Logistique
  version: 3.0.0
  description: >-
    # API Fournisseur CG - Orchestrateur Logistique


    L'API Fournisseur CG est la **plateforme centrale** qui orchestre l'écosystème logistique du Congo. Elle sert de
    pont intelligent entre les applications clientes et les services backend, offrant une expérience unifiée pour la
    gestion des fournisseurs, commandes, paiements et livraisons.


    ## 🎯 Mission


    Connecter les **fournisseurs locaux** aux **clients internationaux** en simplifiant la logistique, les paiements et
    la communication dans l'écosystème e-commerce congolais.


    ## 🏗️ Architecture


    ### **Services Intégrés**


    | Service | Rôle | Statut |

    |---------|------|--------|

    | **Appwrite** | Backend principal (DB, Auth, Storage) | ✅ Intégré |

    | **Spaark Pay** | Paiements mobiles (MTN Money, Airtel) | ✅ Intégré |

    | **SMS API** | Notifications et codes OTP | ✅ Intégré |

    | **MailerSend** | Emails marketing | 🔄 En cours |

    | **SMTP** | Notifications système | 🔄 En cours |


    ### **Collections Principales**


    - **📋 QUOTES** - Demandes de devis (FC-QMM-XXXX-YYYY)

    - **📞 CONTACTS** - Messages de contact clients

    - **🛍️ PRODUCTS** - Catalogue multi-plateformes

    - **📦 ORDERS** - Commandes (FC-ORD-XXXX-YYYY)

    - **💳 PAYMENTS** - Transactions de paiement


    ## 🚀 Fonctionnalités Clés


    ### **Paiements Mobiles Intelligents**

    - Support natif **MTN Money** et **Airtel Money**

    - Vérification automatique des transactions

    - Gestion des webhooks en temps réel

    - Retry automatique pour les erreurs temporaires


    ### **Gestion SMS Avancée**

    - Envoi de codes OTP sécurisés

    - Notifications personnalisées

    - Calcul automatique des coûts

    - Historique et statistiques détaillées


    ### **Collections Auto-Configurées**

    - Définition déclarative des structures

    - Création automatique d'attributs et d'index

    - Permissions granulaires par collection

    - Migration et mise à jour automatiques


    ## 🔐 Authentification


    L'API supporte **3 méthodes d'authentification** :


    1. **Bearer Token** - JWT pour les utilisateurs connectés

    2. **API Key** - Pour l'authentification service-à-service

    3. **Basic Auth** - Pour les endpoints administrateur


    <details>
      <summary>Exemples d'utilisation</summary>

      **Authentification Bearer**
      ```bash
      curl -H "Authorization: Bearer YOUR_JWT_TOKEN" \
           https://api.arkelys.cloud/v3/auth/profile
      ```

      **Authentification API Key**
      ```bash
      curl -H "X-API-Key: YOUR_API_KEY" \
           https://api.arkelys.cloud/v3/appwrite/health
      ```

      **Paiement Mobile**
      ```bash
      curl -X POST https://api.arkelys.cloud/v3/spaark-pay/initiate \
           -H "Authorization: Bearer YOUR_JWT_TOKEN" \
           -H "Content-Type: application/json" \
           -d '{"phone":"053518256","amount":150,"mode":"airtel"}'
      ```
    </details>


    ## 🌍 Spécificités Congo


    ### **Validation Locale**

    - Numéros de téléphone congolais (0XXXXXXXX)

    - Devise XAF (Franc CFA)

    - Adresses et codes postaux locaux

    - Gestion géographique spécifique


    ### **Paiements Locaux**

    - **Airtel Money** : 04/05XXXXXXXX

    - **MTN Mobile Money** : 06XXXXXXXX

    - Intégration native avec les opérateurs locaux


    ## 📊 Monitoring et Logs


    ### **Health Checks**

    - `/v3` - État général de l'API

    - `/v3/spaark-pay/health` - Connexion Spaark Pay

    - `/v3/sms/health` - Connexion SMS API

    - `/v3/appwrite/health` - Connexion Appwrite


    ### **Logs Détaillés**

    - Logs structurés pour chaque service

    - Suivi des tentatives de retry

    - Métriques de performance

    - Alertes automatiques


    ## 🔗 Ressources


    * [Documentation complète](https://fournisseur.cg/docs)

    * [Interface d'administration](https://admin.fournisseur.cg)

    * [Support technique](mailto:support@fournisseur.cg)

    * [Statut des services](https://status.fournisseur.cg)


    ## 📝 Support Markdown


    Cette documentation supporte le **Markdown complet** :


    > [!tip]

    > **Conseil** : Utilisez les endpoints de test pour vérifier la connectivité avant les appels de production.


    > [!warning]

    > **Attention** : Les paiements mobiles peuvent avoir des délais de traitement variables selon l'opérateur.


    | Fonctionnalité | Disponibilité | Documentation |

    |----------------|---------------|---------------|

    | Paiements mobiles | ✅ Production | [Guide complet](#tag/Payment-Processing) |

    | SMS notifications | ✅ Production | [API SMS](#tag/SMS-Notifications) |

    | Gestion collections | ✅ Production | [Appwrite](#tag/Database-Management) |

    | Authentification | ✅ Production | [Auth](#tag/Authentication) |


    <details>
      <summary>Exemples de réponses</summary>

      **Paiement réussi**
      ```json
      {
        "success": true,
        "data": {
          "paymentId": 28,
          "token": "28257ddbaf7a11ef86feac1f6be4442c",
          "composition": "*128*128*1159*PIN#",
          "transID": "JKUCJDFLIKDGDGD-328"
        }
      }
      ```

      **SMS envoyé**
      ```json
      {
        "success": true,
        "data": {
          "messageId": "msg_123",
          "status": "sent",
          "to": "053518256",
          "cost": 25
        }
      }
      ```
    </details>
  contact:
    name: Équipe Technique Fournisseur CG
    email: dev@fournisseur.cg
    url: https://fournisseur.cg
  license:
    name: Propriétaire - Fournisseur CG
    url: https://fournisseur.cg/license
  termsOfService: https://fournisseur.cg/terms
servers:
  - url: https://api.arkelys.cloud
    description: Production - API officielle
  - url: https://staging-api.arkelys.cloud
    description: Staging - Tests et validation
  - url: http://localhost:3333
    description: Développement local
security:
  - bearerAuth: []
  - apiKeyAuth: []
  - basicAuth: []
tags:
  - name: Authentication
    description: Authentification utilisateurs et gestion des tokens JWT
  - name: Database Management
    description: Wrapper pour les opérations Appwrite (collections, documents, utilisateurs)
  - name: Collection Management
    description: Gestion des collections et initialisation des structures de données
  - name: Payment Processing
    description: Intégration Spaark Pay - Paiements mobiles (MTN Money, Airtel Money)
  - name: SMS Notifications
    description: Envoi de SMS et notifications via API SMS
  - name: Email Services
    description: MailerSend (marketing) et SMTP (notifications système)
  - name: User Management
    description: Gestion des utilisateurs (visiteurs, clients, professionnels, admins)
  - name: Webhooks
    description: Endpoints pour webhooks entrants (Spark Pay, partenaires transport)
  - name: Analytics
    description: Métriques, rapports et données analytiques de la plateforme
paths:
  /v3/health:
    get:
      summary: route
      description: |2-


         __ - ****
      parameters: []
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json: {}
      security: []
  /v3:
    get:
      summary: route
      description: |2-


         __ - ****
      parameters: []
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json: {}
      security: []
  /v3/auth/register:
    post:
      summary: Register new user (register)
      description: |-
        Returns **201** (Created) as **text/plain**

         _app/controllers/auth_controller.ts_ - **register**
      parameters: []
      tags:
        - AUTH
      responses:
        '201':
          content:
            text/plain:
              example: '{"success": true, "message": "Compte créé avec succès", "data": {"user": {...}, "token": "..."}}'
          description: Returns **201** (Created) as **text/plain**
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: Données invalides
              example:
                error: Données invalides
          description: Returns **400** (Bad Request) as **application/json**
        '409':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: Email déjà utilisé
              example:
                error: Email déjà utilisé
          description: Returns **409** (Conflict) as **application/json**
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName: John Doe
                email: test@example.com
                password: password123
            example:
              fullName: John Doe
              email: test@example.com
              password: password123
  /v3/auth/login:
    post:
      summary: User login (login)
      description: |-
        Authenticate user and generate token

         _app/controllers/auth_controller.ts_ - **login**
      parameters: []
      tags:
        - AUTH
      responses:
        '200':
          content:
            text/plain:
              example: '{"success": true, "message": "Connexion réussie", "data": {"user": {...}, "token": "..."}}'
          description: Returns **200** (OK) as **text/plain**
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: Identifiants invalides
              example:
                error: Identifiants invalides
          description: Returns **401** (Unauthorized) as **application/json**
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email: test@example.com
                password: password123
            example:
              email: test@example.com
              password: password123
  /v3/auth/get-token:
    post:
      summary: Get clear token (for testing) (getToken)
      description: |-
        Temporary route to get complete token

         _app/controllers/auth_controller.ts_ - **getToken**
      parameters: []
      tags:
        - AUTH
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: Bearer ...
              example:
                token: Bearer ...
          description: Returns **200** (OK) as **application/json**
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email: test@example.com
                password: password123
            example:
              email: test@example.com
              password: password123
  /v3/auth/logout:
    post:
      summary: User logout (logout)
      description: |-
        Invalidate current access token

         _app/controllers/auth_controller.ts_ - **logout**
      parameters: []
      tags:
        - AUTH
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: true
                  message: Déconnexion réussie
              example:
                success: true
                message: Déconnexion réussie
          description: Returns **200** (OK) as **application/json**
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: Token invalide
              example:
                error: Token invalide
          description: Returns **401** (Unauthorized) as **application/json**
      security: []
  /v3/auth/profile:
    get:
      summary: User profile (profile)
      description: |-
        Returns **200** (OK) as **text/plain**

         _app/controllers/auth_controller.ts_ - **profile**
      parameters: []
      tags:
        - AUTH
      responses:
        '200':
          content:
            text/plain:
              example: '{"success": true, "data": {"user": {...}}}'
          description: Returns **200** (OK) as **text/plain**
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: Non authentifié
              example:
                error: Non authentifié
          description: Returns **401** (Unauthorized) as **application/json**
      security: []
  /v3/auth/refresh-token:
    post:
      summary: Refresh token (refreshToken)
      description: |-
        Generate new access token

         _app/controllers/auth_controller.ts_ - **refreshToken**
      parameters: []
      tags:
        - AUTH
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: true
                  data:
                    type: object
                    properties:
                      token: ...
              example:
                success: true
                data:
                  token: ...
          description: Returns **200** (OK) as **application/json**
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: Token invalide
              example:
                error: Token invalide
          description: Returns **401** (Unauthorized) as **application/json**
      security: []
  /v3/sms/health:
    get:
      summary: SMS connection health check (health)
      description: |-
        Returns **200** (OK) as **application/json**

         _app/controllers/sms_controller.ts_ - **health**
      parameters: []
      tags:
        - SMS
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: healthy
                  message: Configuration SMS MTN validée
              example:
                status: healthy
                message: Configuration SMS MTN validée
          description: Returns **200** (OK) as **application/json**
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: unhealthy
                  message: Erreur de configuration
              example:
                status: unhealthy
                message: Erreur de configuration
          description: Returns **500** (Internal Server Error) as **application/json**
      security: []
  /v3/sms/send:
    post:
      summary: Send SMS (MTN Official API) (sendSms)
      description: |-
        Send SMS using official MTN API endpoint

         _app/controllers/sms_controller.ts_ - **sendSms**
      parameters: []
      tags:
        - SMS
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  messageId: msg_123
                  status: sent
                  to: '242053518256'
                  cost: 25
              example:
                messageId: msg_123
                status: sent
                to: '242053518256'
                cost: 25
          description: Returns **200** (OK) as **application/json**
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: Paramètres invalides
                  details: string
              example:
                error: Paramètres invalides
                details: string
          description: Returns **400** (Bad Request) as **application/json**
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: Erreur lors de l'envoi
                  details: string
              example:
                error: Erreur lors de l'envoi
                details: string
          description: Returns **500** (Internal Server Error) as **application/json**
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                to: '242053518256'
                message: Votre code de vérification est 534444
                from: Fourniseur
            example:
              to: '242053518256'
              message: Votre code de vérification est 534444
              from: Fourniseur
  /v3/sms/status/{messageId}:
    get:
      summary: Get SMS status (MTN Official API) (getSmsStatus)
      description: |-
        Returns **200** (OK) as **text/plain**

         _app/controllers/sms_controller.ts_ - **getSmsStatus**
      parameters:
        - in: path
          name: messageId
          description: ID du message SMS retourné lors de l'envoi
          schema:
            example: null
            type: string
          required: false
      tags:
        - SMS
      responses:
        '200':
          content:
            text/plain:
              example: '{"messageId": "msg_123", "status": "delivered", "to": "242053518256", "statusDetails": {...}}'
          description: Returns **200** (OK) as **text/plain**
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: SMS non trouvé
              example:
                error: SMS non trouvé
          description: Returns **404** (Not Found) as **application/json**
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: Erreur lors de la récupération
                  details: string
              example:
                error: Erreur lors de la récupération
                details: string
          description: Returns **500** (Internal Server Error) as **application/json**
      security: []
  /v3/sms/status-codes:
    get:
      summary: Get MTN status codes (getStatusCodes)
      description: |-
        Returns **200** (OK) as **application/json**

         _app/controllers/sms_controller.ts_ - **getStatusCodes**
      parameters: []
      tags:
        - SMS
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCodes:
                    type: object
                    properties:
                      '0':
                        type: object
                        properties:
                          code: '1'
                          description: Livré au téléphone
                          category: success
              example:
                statusCodes:
                  - code: '1'
                    description: Livré au téléphone
                    category: success
          description: Returns **200** (OK) as **application/json**
      security: []
  /v3/sms/calculate-cost:
    post:
      summary: Calculate SMS cost (MTN Rules) (calculateSmsCost)
      description: |-
        Calculate SMS cost based on MTN pricing rules

         _app/controllers/sms_controller.ts_ - **calculateSmsCost**
      parameters: []
      tags:
        - SMS
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  cost: 25
                  length: 45
                  smsCount: 1
                  type: GSM
              example:
                cost: 25
                length: 45
                smsCount: 1
                type: GSM
          description: Returns **200** (OK) as **application/json**
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: Message requis
              example:
                error: Message requis
          description: Returns **400** (Bad Request) as **application/json**
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message: Votre code de vérification est 123456
            example:
              message: Votre code de vérification est 123456
  /v3/pawapay/availability:
    get:
      summary: PawaPay availability (availability)
      description: |-
        Returns **200** (OK) as **application/json**

         _app/controllers/pawapay_controller.ts_ - **availability**
      parameters: []
      tags:
        - PAWAPAY
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: true
                  data:
                    type: object
                    properties:
                      country: COG
                      available: true
              example:
                success: true
                data:
                  country: COG
                  available: true
          description: Returns **200** (OK) as **application/json**
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: false
                  error: Availability fetch failed
                  details: Unknown error
              example:
                success: false
                error: Availability fetch failed
                details: Unknown error
          description: Returns **500** (Internal Server Error) as **application/json**
      security: []
  /v3/pawapay/providers:
    get:
      summary: PawaPay providers per country (listProviders)
      description: |-
        Returns **200** (OK) as **application/json**

         _app/controllers/pawapay_controller.ts_ - **listProviders**
      parameters: []
      tags:
        - PAWAPAY
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: true
                  data:
                    type: object
                    properties:
                      country: COG
                      available: true
              example:
                success: true
                data:
                  country: COG
                  available: true
          description: Returns **200** (OK) as **application/json**
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: false
                  error: Providers fetch failed
                  details: Unknown error
              example:
                success: false
                error: Providers fetch failed
                details: Unknown error
          description: Returns **500** (Internal Server Error) as **application/json**
      security: []
  /v3/pawapay/active-conf:
    get:
      summary: PawaPay active configuration (getActiveConfiguration)
      description: |-
        Returns **200** (OK) as **application/json**

         _app/controllers/pawapay_controller.ts_ - **getActiveConfiguration**
      parameters: []
      tags:
        - PAWAPAY
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: true
                  data:
                    type: object
                    properties:
                      country: COG
                      available: true
              example:
                success: true
                data:
                  country: COG
                  available: true
          description: Returns **200** (OK) as **application/json**
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: false
                  error: Active configuration fetch failed
                  details: Unknown error
              example:
                success: false
                error: Active configuration fetch failed
                details: Unknown error
          description: Returns **500** (Internal Server Error) as **application/json**
      security: []
  /v3/pawapay/deposits/request:
    post:
      summary: PawaPay request deposit (requestDeposit)
      description: |-
        Request a deposit using PawaPay v2 payload

         _app/controllers/pawapay_controller.ts_ - **requestDeposit**
      parameters: []
      tags:
        - PAWAPAY
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: true
                  data:
                    type: object
                    properties:
                      depositId: uuid
                      amount: '15'
                      currency: XAF
                      payer:
                        type: object
                        properties:
                          type: MMO
                          accountDetails:
                            type: object
                            properties:
                              provider: MTN_MOMO_COG
                              phoneNumber: 24206XXXXXX
              example:
                success: true
                data:
                  depositId: uuid
                  amount: '15'
                  currency: XAF
                  payer:
                    type: MMO
                    accountDetails:
                      provider: MTN_MOMO_COG
                      phoneNumber: 24206XXXXXX
          description: Returns **200** (OK) as **application/json**
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: false
                  error: Deposit request failed
                  details: Unknown error
              example:
                success: false
                error: Deposit request failed
                details: Unknown error
          description: Returns **500** (Internal Server Error) as **application/json**
      security: []
  /v3/pawapay/deposits/{depositId}/status:
    get:
      summary: PawaPay check deposit status (checkDepositStatus)
      description: |-
        Returns **200** (OK) as **application/json**

         _app/controllers/pawapay_controller.ts_ - **checkDepositStatus**
      parameters:
        - in: path
          name: depositId
          schema:
            type: string
          required: true
      tags:
        - PAWAPAY
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: true
                  data:
                    type: object
                    properties:
                      depositId: uuid
                      amount: '15'
                      currency: XAF
                      payer:
                        type: object
                        properties:
                          type: MMO
                          accountDetails:
                            type: object
                            properties:
                              provider: MTN_MOMO_COG
                              phoneNumber: 24206XXXXXX
              example:
                success: true
                data:
                  depositId: uuid
                  amount: '15'
                  currency: XAF
                  payer:
                    type: MMO
                    accountDetails:
                      provider: MTN_MOMO_COG
                      phoneNumber: 24206XXXXXX
          description: Returns **200** (OK) as **application/json**
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: false
                  error: Deposit request failed
                  details: Unknown error
              example:
                success: false
                error: Deposit request failed
                details: Unknown error
          description: Returns **500** (Internal Server Error) as **application/json**
      security: []
  /v3/pawapay/payouts/request:
    post:
      summary: PawaPay request payout (requestPayout)
      description: |-
        Request a payout using PawaPay v2 payload

         _app/controllers/pawapay_controller.ts_ - **requestPayout**
      parameters: []
      tags:
        - PAWAPAY
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: true
                  data:
                    type: object
                    properties:
                      payoutId: uuid
                      amount: '15'
                      currency: XAF
                      recipient:
                        type: object
                        properties:
                          type: MMO
                          accountDetails:
                            type: object
                            properties:
                              provider: MTN_MOMO_COG
                              phoneNumber: 24206XXXXXX
              example:
                success: true
                data:
                  payoutId: uuid
                  amount: '15'
                  currency: XAF
                  recipient:
                    type: MMO
                    accountDetails:
                      provider: MTN_MOMO_COG
                      phoneNumber: 24206XXXXXX
          description: Returns **200** (OK) as **application/json**
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: false
                  error: Payout request failed
                  details: Unknown error
              example:
                success: false
                error: Payout request failed
                details: Unknown error
          description: Returns **500** (Internal Server Error) as **application/json**
      security: []
  /v3/pawapay/payouts/{payoutId}/status:
    get:
      summary: PawaPay check payout status (checkPayoutStatus)
      description: |-
        Returns **200** (OK) as **application/json**

         _app/controllers/pawapay_controller.ts_ - **checkPayoutStatus**
      parameters:
        - in: path
          name: payoutId
          schema:
            type: string
          required: true
      tags:
        - PAWAPAY
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: true
                  data:
                    type: object
                    properties:
                      payoutId: uuid
                      amount: '15'
                      currency: XAF
                      recipient:
                        type: object
                        properties:
                          type: MMO
                          accountDetails:
                            type: object
                            properties:
                              provider: MTN_MOMO_COG
                              phoneNumber: 24206XXXXXX
              example:
                success: true
                data:
                  payoutId: uuid
                  amount: '15'
                  currency: XAF
                  recipient:
                    type: MMO
                    accountDetails:
                      provider: MTN_MOMO_COG
                      phoneNumber: 24206XXXXXX
          description: Returns **200** (OK) as **application/json**
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: false
                  error: Payout request failed
                  details: Unknown error
              example:
                success: false
                error: Payout request failed
                details: Unknown error
          description: Returns **500** (Internal Server Error) as **application/json**
      security: []
  /v3/pawapay/refunds/request:
    post:
      summary: PawaPay request refund (requestRefund)
      description: |-
        Request a refund using PawaPay v2 payload

         _app/controllers/pawapay_controller.ts_ - **requestRefund**
      parameters: []
      tags:
        - PAWAPAY
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: true
                  data:
                    type: object
                    properties:
                      refundId: uuid
                      amount: '15'
                      currency: XAF
                      recipient:
                        type: object
                        properties:
                          type: MMO
                          accountDetails:
                            type: object
                            properties:
                              provider: MTN_MOMO_COG
                              phoneNumber: 24206XXXXXX
              example:
                success: true
                data:
                  refundId: uuid
                  amount: '15'
                  currency: XAF
                  recipient:
                    type: MMO
                    accountDetails:
                      provider: MTN_MOMO_COG
                      phoneNumber: 24206XXXXXX
          description: Returns **200** (OK) as **application/json**
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: false
                  error: Refund request failed
                  details: Unknown error
              example:
                success: false
                error: Refund request failed
                details: Unknown error
          description: Returns **500** (Internal Server Error) as **application/json**
      security: []
  /v3/pawapay/refunds/{refundId}/status:
    get:
      summary: PawaPay check refund status (checkRefundStatus)
      description: |-
        Returns **200** (OK) as **application/json**

         _app/controllers/pawapay_controller.ts_ - **checkRefundStatus**
      parameters:
        - in: path
          name: refundId
          schema:
            type: string
          required: true
      tags:
        - PAWAPAY
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: true
                  data:
                    type: object
                    properties:
                      refundId: uuid
                      amount: '15'
                      currency: XAF
                      recipient:
                        type: object
                        properties:
                          type: MMO
                          accountDetails:
                            type: object
                            properties:
                              provider: MTN_MOMO_COG
                              phoneNumber: 24206XXXXXX
              example:
                success: true
                data:
                  refundId: uuid
                  amount: '15'
                  currency: XAF
                  recipient:
                    type: MMO
                    accountDetails:
                      provider: MTN_MOMO_COG
                      phoneNumber: 24206XXXXXX
          description: Returns **200** (OK) as **application/json**
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: false
                  error: Refund request failed
                  details: Unknown error
              example:
                success: false
                error: Refund request failed
                details: Unknown error
          description: Returns **500** (Internal Server Error) as **application/json**
      security: []
  /v3/pawapay/callbacks/deposits:
    post:
      summary: PawaPay deposit callback (depositCallback)
      description: |-
        Handle deposit callback from PawaPay

         _app/controllers/pawapay_controller.ts_ - **depositCallback**
      parameters: []
      tags:
        - PAWAPAY
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  received: true
              example:
                received: true
          description: Returns **200** (OK) as **application/json**
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: false
                  error: Deposit callback failed
                  details: Unknown error
              example:
                success: false
                error: Deposit callback failed
                details: Unknown error
          description: Returns **500** (Internal Server Error) as **application/json**
      security: []
  /v3/pawapay/callbacks/payouts:
    post:
      summary: PawaPay payout callback (payoutCallback)
      description: |-
        Handle payout callback from PawaPay

         _app/controllers/pawapay_controller.ts_ - **payoutCallback**
      parameters: []
      tags:
        - PAWAPAY
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  received: true
              example:
                received: true
          description: Returns **200** (OK) as **application/json**
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: false
                  error: Payout callback failed
                  details: Unknown error
              example:
                success: false
                error: Payout callback failed
                details: Unknown error
          description: Returns **500** (Internal Server Error) as **application/json**
      security: []
  /v3/pawapay/callbacks/refunds:
    post:
      summary: PawaPay refund callback (refundCallback)
      description: |-
        Handle refund callback from PawaPay

         _app/controllers/pawapay_controller.ts_ - **refundCallback**
      parameters: []
      tags:
        - PAWAPAY
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  received: true
              example:
                received: true
          description: Returns **200** (OK) as **application/json**
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: false
                  error: Refund callback failed
                  details: Unknown error
              example:
                success: false
                error: Refund callback failed
                details: Unknown error
          description: Returns **500** (Internal Server Error) as **application/json**
      security: []
components:
  schemas: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtenu depuis /v3/auth/login
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Clé API pour l'authentification service-à-service
    basicAuth:
      type: http
      scheme: basic
      description: Authentification basique pour les endpoints admin
